.hidden {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half,
.column-half-review,
.column-third,
.column-two-third,
.column-fourth {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2.5rem;
  }

  .column-fourth {
    width: 23%;
  }

  .column-third {
    width: 40%;
  }

  .column-third-nav {
    width: 40%;
  }

  .column-half-review {
    width: 48.5%;
  }

  .column-half {
    width: 50%;
  }

  .column-two-third {
    width: 60%;
  }

  .column-two-third-nav {
    width: 60%;
  }
}
