body {
  font-family: Raleway, sans-serif;
  background-color: black;
}

header {
  background-color: #ffc52f;
  padding: 10px 0;
}

h1 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

h2#logo {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin: 0;
}

h3.result-title {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

h3.review-title {
  font-size: 1.5rem;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  border: none;
}

label {
  font-weight: 700;
}

input,
textarea {
  padding: 8px 4px;
  color: black;
  font-size: 1rem;
  font-family: Raleway, sans-serif;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  border: 3px solid #ffc52f;
  outline: none;
}

a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul#results-list {
  gap: 2.5%;
}

ul#reviews-list {
  margin: 0;
}

i.info-icon {
  position: absolute;
  color: #ffc52f;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

i.close-icon {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

i.star-icon {
  color: #ffc52f;
  font-size: 1.5rem;
  cursor: pointer;
}

i.star-icon-review {
  color: black;
  font-size: 1.5rem;
}

i.pen-icon {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.search-img-container {
  position: relative;
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dialogue-box-movie-details {
  background-color: #f0f0f0;
  width: 340px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-img {
  width: 100%;
}

.review-form-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.review-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.result-card {
  background-color: #f0f0f0;
}

.review-card {
  background-color: #f0f0f0;
  position: relative;
}

.review-button {
  background-color: #ffc52f;
  border: none;
}

.dialogue-poster {
  display: none;
}

#search-button {
  background-color: #ffc52f;
  border: none;
  cursor: pointer;
}

#submit-button {
  background-color: #ffc52f;
  border: none;
  cursor: pointer;
}

#delete-button {
  background: none;
  border: none;
  cursor: pointer;
}

#new-button {
  background-color: #ffc52f;
  border: none;
  cursor: pointer;
}

.button-style {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 4px;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.no-marg {
  margin: 0;
}

.marg-1-2-bot {
  margin-bottom: 0.5rem;
}

.marg-1-bot {
  margin-bottom: 1rem;
}

.marg-1-1-2-bot {
  margin-bottom: 1.5rem;
}

.no-pad {
  padding: 0;
}

.pad-1-2-top {
  padding-top: 0.5rem;
}

.pad-1-2-left-right {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pad-1-bot {
  padding-bottom: 1rem;
}

.pad-1-top {
  padding-top: 1rem;
}

.pad-1-left {
  padding-left: 1rem;
}

.pad-1 {
  padding: 1rem;
}

.pad-2-bot {
  padding-bottom: 2rem;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.yellow-text {
  color: #ffc52f;
}

.border-radius {
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .pad-1-1-2-left {
    padding-left: 1.5rem;
  }

  .pad-1-right {
    padding-right: 1rem;
  }

  h3.result-title {
    font-size: 1.2rem;
    padding: 0 0.5rem;
  }

  h3.review-title {
    font-size: 1.2rem;
  }

  .search-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .dialogue-box-movie-details {
    width: 680px;
  }

  .dialogue-poster {
    display: block;
  }

  .dialogue-poster-img {
    height: 100%;
    width: 340px;
    object-fit: cover;
  }

  .review-form-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }

  .review-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}
