body {
  font-family: Raleway, sans-serif;
}

h2 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.display-block {
  display: block;
}

.button-style {
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.form-label {
  font-weight: 700;
}
